name: Publish
on: 
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build the Docker image
      run: docker build . -t lgohr/github-hub:${{ github.sha }} -t lgohr/github-hub:latest
    - name: Login to Registry
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Push to Registry
      run: |
        docker push lgohr/github-hub:${{ github.sha }}
        docker push lgohr/github-hub:latest
    - name: Logout
      run: docker logout
      
